.output {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.3in;
  width: 8.5in;
  height: 12in;
  background-color: rgb(250, 255, 255);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

.title {
  display: block;

  text-align: center;
}

.title h1 {
  padding: 0;
  margin: 0;
  font-size: 2em;
}

.subtitle {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1em 0;
}

.cv__section {
  /* border-bottom: 1px solid black; */
  border-top: 1px solid black;
  padding: 0.5em;
  margin: 1.5em 0;
}

.cv__section:first-of-type {
  border-top: none;
}

.cv__section h2,
.cv__section h3 {
  color: #857878;
}
